<% was_validated = profile.errors.any? %>

<%= form_with(model: profile, local: true, novalidate: true, class: "mb-3") do |f| %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <div class="form-group">
    <% first_name_class = "form-control" %>
    <% first_name_was_invalid = profile.errors.include?(:first_name) %>

    <% if was_validated %>
      <% if first_name_was_invalid %>
        <% first_name_class << " is-invalid" %>
      <% else %>
        <% first_name_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :first_name %>
    <%= f.text_field :first_name, class: first_name_class, placeholder: "Enter first name" %>
    <% if first_name_was_invalid %>
      <% profile.errors.full_messages_for(:first_name).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% last_name_class = "form-control" %>
    <% last_name_was_invalid = profile.errors.include?(:last_name) %>

    <% if was_validated %>
      <% if last_name_was_invalid %>
        <% last_name_class << " is-invalid" %>
      <% else %>
        <% last_name_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :last_name %>
    <%= f.text_field :last_name, class: last_name_class, placeholder: "Enter last name" %>
    <% if last_name_was_invalid %>
      <% profile.errors.full_messages_for(:last_name).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% gender_class = "form-control" %>
    <% gender_was_invalid = profile.errors.include?(:gender) %>

    <% if was_validated %>
      <% if gender_was_invalid %>
        <% gender_class << " is-invalid" %>
      <% else %>
        <% gender_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :gender %>
    <%= f.select :gender, options_for_select(Profile.genders.keys), {}, class: "form-control" %>
    <% if gender_was_invalid %>
      <% profile.errors.full_messages_for(:gender).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% age_class = "form-control" %>
    <% age_was_invalid = profile.errors.include?(:age) %>

    <% if was_validated %>
      <% if age_was_invalid %>
        <% age_class << " is-invalid" %>
      <% else %>
        <% age_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :age %>
    <%= f.number_field :age, class: age_class, placeholder: "Enter age" %>
    <% if age_was_invalid %>
      <% profile.errors.full_messages_for(:age).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% occupation_class = "form-control" %>
    <% occupation_was_invalid = profile.errors.include?(:occupation) %>

    <% if was_validated %>
      <% if occupation_was_invalid %>
        <% occupation_class << " is-invalid" %>
      <% else %>
        <% occupation_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :occupation %>
    <%= f.text_field :occupation, class: occupation_class, placeholder: "Enter occupation" %>
    <% if occupation_was_invalid %>
      <% profile.errors.full_messages_for(:occupation).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% current_city_class = "form-control" %>
    <% current_city_was_invalid = profile.errors.include?(:current_city) %>

    <% if was_validated %>
      <% if current_city_was_invalid %>
        <% current_city_class << " is-invalid" %>
      <% else %>
        <% current_city_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :current_city %>
    <%= f.text_field :current_city, class: current_city_class, placeholder: "Enter current city" %>
    <% if current_city_was_invalid %>
      <% profile.errors.full_messages_for(:current_city).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-check">
    <% pet_owner_class = "form-check-input" %>
    <% pet_owner_was_invalid = profile.errors.include?(:pet_owner) %>

    <% if was_validated %>
      <% if pet_owner_was_invalid %>
        <% pet_owner_class << " is-invalid" %>
      <% else %>
        <% pet_owner_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :pet_owner, class: "form-check-label" do %>
      <%= f.check_box :pet_owner, class: pet_owner_class %> Pet owner
    <% end %>
    <% if pet_owner_was_invalid %>
      <% profile.errors.full_messages_for(:pet_owner).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% pet_description_class = "form-control" %>
    <% pet_description_was_invalid = profile.errors.include?(:pet_description) %>

    <% if was_validated %>
      <% if pet_description_was_invalid %>
        <% pet_description_class << " is-invalid" %>
      <% else %>
        <% pet_description_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :pet_description %>
    <%= f.text_field :pet_description, class: pet_description_class, placeholder: "Enter pet description" %>
    <% if pet_description_was_invalid %>
      <% profile.errors.full_messages_for(:pet_description).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% about_me_class = "form-control" %>
    <% about_me_was_invalid = profile.errors.include?(:about_me) %>

    <% if was_validated %>
      <% if about_me_was_invalid %>
        <% about_me_class << " is-invalid" %>
      <% else %>
        <% about_me_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :about_me %>
    <%= f.text_area :about_me, class: about_me_class, placeholder: "Enter about me" %>
    <% if about_me_was_invalid %>
      <% profile.errors.full_messages_for(:about_me).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
