<!-- Form message start -->
<%= form_with(model: @message, local: true) do |f| %>
<!-- Form message end -->

  <!-- Label and input for sender_user_id start -->
  <div class="form-group">
    <%= f.label :sender_user_id %>

    <!-- Input for sender_user_id start -->
    <%= f.text_field :sender_user_id, class: "form-control" %>
    <!-- Input for sender_user_id end -->
  </div>
  <!-- Label and input for sender_user_id end -->

  <!-- Label and input for receiver_user_id start -->
  <div class="form-group">
    <%= f.label :receiver_user_id %>

    <!-- Input for receiver_user_id start -->
    <%= f.text_field :receiver_user_id, class: "form-control" %>
    <!-- Input for receiver_user_id end -->
  </div>
  <!-- Label and input for receiver_user_id end -->

  <!-- Label and input for listing_id start -->
  <!-- Input for listing_id start -->
  <%= f.hidden_field :listing_id, value: @listing.id %>
  <!-- Input for listing_id end -->
  <!-- Label and input for listing_id end -->

  <!-- Label and input for body start -->
  <div class="form-group">
    <%= f.label :body %>
    <!-- Input for body start -->
    <%= f.text_area :body, rows: "3", class: "form-control" %>
    <!-- Input for body end -->
  </div>
  <!-- Label and input for body end -->

  <%= f.submit "Create message", class: "btn btn-block btn-outline-secondary" %>
<% end %>
