<div class="card mb-3">
  <h2 class="card-header h4">
    Listing Photo #<%= listing_photo.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>Listing</dt>
      <!-- Display listing_id start -->
      <dd><%= listing_photo.listing_id %></dd>
      <!-- Display listing_id end -->

      <dt>Photo</dt>
      <!-- Display photo start -->
      <dd><%= listing_photo.photo %></dd>
      <!-- Display photo end -->

      <dt>Caption</dt>
      <!-- Display caption start -->
      <dd><%= listing_photo.caption %></dd>
      <!-- Display caption end -->

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back listing_photo, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <!-- Edit link listing_photo start -->
      <div class="col">
        <%= link_to edit_listing_photo_url(listing_photo), class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </div>
      <!-- Edit link listing_photo end -->

      <!-- Delete link listing_photo start -->
      <div class="col">
        <%= link_to listing_photo, method: :delete, data: { confirm: "Do you really want to delete this listing_photo?" }, class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
      <!-- Delete link listing_photo end -->
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(listing_photo.updated_at) %> ago
  </div>
</div>
