<%= form_with(model: @building_amenity, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :building_id %>

    <%= f.collection_select :building_id, Building.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <%= f.hidden_field :amenity_id, value: @amenity.id %>

  <%= f.submit "Create building amenity", class: "btn btn-block btn-outline-secondary" %>
<% end %>
