<%= form_with(model: @amenity_preference, local: true) do |f| %>

  <%= f.hidden_field :amenity_id, value: @amenity.id %>

  <div class="form-group">
    <%= f.label :preference_id %>

    <%= f.collection_select :preference_id, Preference.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <%= f.submit "Create amenity preference", class: "btn btn-block btn-outline-secondary" %>
<% end %>
