<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render object: @amenity, partial: "card", as: :amenity %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "amenities/amenity_building_amenities" %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "amenities/amenity_amenity_preferences" %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "amenities/amenity_user_preferences" %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "amenities/amenity_buildings" %>
  </div>
</div>
