<%= form_with(model: @profile, local: true) do |f| %>

  <%= f.hidden_field :user_id, value: @user.id %>

  <div class="form-group">
    <%= f.label :first_name %>

    <%= f.text_field :first_name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :last_name %>

    <%= f.text_field :last_name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :gender %>

    <%= f.select :gender, options_for_select(Profile.genders.keys), {}, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :age %>

    <%= f.text_field :age, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :occupation %>

    <%= f.text_field :occupation, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :current_city %>

    <%= f.text_field :current_city, class: "form-control" %>
  </div>

  <div class="form-check">
    <%= f.check_box :pet_owner, class: "form-check-input" %>
    <%= f.label :pet_owner, class: "form-check-label" %>
  </div>

  <div class="form-group">
    <%= f.label :pet_description %>

    <%= f.text_field :pet_description, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :about_me %>
    <%= f.text_area :about_me, rows: "3", class: "form-control" %>
  </div>

  <%= f.submit "Create profile", class: "btn btn-block btn-outline-secondary" %>
<% end %>
