<%= form_with(model: @preference, local: true) do |f| %>

  <%= f.hidden_field :user_id, value: @user.id %>

  <div class="form-group">
    <%= f.label :budget_max %>

    <%= f.text_field :budget_max, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :preferred_move_in %>

    <%= f.date_select :preferred_move_in, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :unit_type %>

    <%= f.select :unit_type, options_for_select(Preference.unit_types.keys), {}, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :cleanliness %>

    <%= f.text_field :cleanliness, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :hosting %>

    <%= f.text_field :hosting, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :neighborhood %>

    <%= f.text_field :neighborhood, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :notes %>
    <%= f.text_area :notes, rows: "3", class: "form-control" %>
  </div>

  <div class="form-check">
    <%= f.check_box :pet_friendly, class: "form-check-input" %>
    <%= f.label :pet_friendly, class: "form-check-label" %>
  </div>

  <div class="form-group">
    <%= f.label :roommie_gender_preference %>

    <%= f.select :roommie_gender_preference, options_for_select(Preference.roommie_gender_preferences.keys), {}, class: "form-control" %>
  </div>

  <%= f.submit "Create preference", class: "btn btn-block btn-outline-secondary" %>
<% end %>
