<%= form_with(model: @listing, local: true) do |f| %>

  <%= f.hidden_field :building_id, value: @building.id %>

  <div class="form-group">
    <%= f.label :unit_type %>

    <%= f.select :unit_type, options_for_select(Listing.unit_types.keys), {}, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :lease_length %>

    <%= f.text_field :lease_length, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :price %>

    <%= f.text_field :price, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :earliest_move_in %>

    <%= f.date_select :earliest_move_in, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :floorplan %>

    <%= f.file_field :floorplan, class: "form-control" %>
  </div>

  <%= f.submit "Create listing", class: "btn btn-block btn-outline-secondary" %>
<% end %>
