<%= form_with(model: @building_amenity, local: true) do |f| %>

  <%= f.hidden_field :building_id, value: @building.id %>

  <div class="form-group">
    <%= f.label :amenity_id %>

    <%= f.collection_select :amenity_id, Amenity.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <%= f.submit "Create building amenity", class: "btn btn-block btn-outline-secondary" %>
<% end %>
