<div class="card mb-3">
  <h2 class="card-header h4">
    Building #<%= building.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>Name</dt>
      <!-- Display name start -->
      <dd><%= building.name %></dd>
      <!-- Display name end -->

      <dt>Location</dt>
      <!-- Display location start -->
      <dd><%= building.location %></dd>
      <!-- Display location end -->

      <dt>Building type</dt>
      <!-- Display building_type start -->
      <dd><%= building.building_type %></dd>
      <!-- Display building_type end -->

      <dt>Average user rating</dt>
      <!-- Display average_user_rating start -->
      <dd><%= building.average_user_rating %></dd>
      <!-- Display average_user_rating end -->

      <dt>Neighborhood</dt>
      <!-- Display neighborhood start -->
      <dd><%= building.neighborhood %></dd>
      <!-- Display neighborhood end -->

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back building, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <!-- Edit link building start -->
      <div class="col">
        <%= link_to edit_building_url(building), class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </div>
      <!-- Edit link building end -->

      <!-- Delete link building start -->
      <div class="col">
        <%= link_to building, method: :delete, data: { confirm: "Do you really want to delete this building?" }, class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
      <!-- Delete link building end -->
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(building.updated_at) %> ago
  </div>
</div>
