<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render object: @building, partial: "card", as: :building %>
  </div>
</div>

  <!-- Show Page Customization starts -->
<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "buildings/building_building_photos" %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "buildings/building_building_amenities" %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "buildings/building_listings" %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "buildings/building_amenities" %>
  </div>
</div>
  <!-- Show Page Customization end -->
