<div class="card mb-3">
  <h2 class="card-header h4">
    Preference #<%= preference.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>User</dt>
      <dd>
        <% if @preference.user.present? %>
          <%= link_to preference.user, preference.user %>
        <% end %>
      </dd>

      <dt>Budget max</dt>
      <dd><%= preference.budget_max %></dd>

      <dt>Preferred move in</dt>
      <dd><%= preference.preferred_move_in %></dd>

      <dt>Unit type</dt>
      <dd><%= preference.unit_type %></dd>

      <dt>Cleanliness</dt>
      <dd><%= preference.cleanliness %></dd>

      <dt>Hosting</dt>
      <dd><%= preference.hosting %></dd>

      <dt>Neighborhood</dt>
      <dd><%= preference.neighborhood %></dd>

      <dt>Notes</dt>
      <dd><%= preference.notes %></dd>

      <dt>Pet friendly</dt>
      <dd><%= preference.pet_friendly %></dd>

      <dt>Roommie gender preference</dt>
      <dd><%= preference.roommie_gender_preference %></dd>

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back preference, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <div class="col">
        <% if current_user == @preference.user %>
          <%= link_to edit_preference_url(preference), class: "btn btn-block btn-sm btn-outline-secondary" do %>
            <i class="fas fa-edit"></i>
          <% end %>
        <% end %>
      </div>

      <div class="col">
        <% if current_user == @preference.user %>
          <%= link_to preference, method: :delete, data: { confirm: "Do you really want to delete this preference?" }, class: "btn btn-block btn-outline-secondary" do %>
            <i class="fas fa-trash-alt"></i>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(preference.updated_at) %> ago
  </div>
</div>
