<div class="card mb-3">
  <h2 class="card-header h4">
    Preference #<%= preference.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>User</dt>
      <!-- Display user_id start -->
      <dd><%= preference.user_id %></dd>
      <!-- Display user_id end -->

      <dt>Budget max</dt>
      <!-- Display budget_max start -->
      <dd><%= preference.budget_max %></dd>
      <!-- Display budget_max end -->

      <dt>Preferred move in</dt>
      <!-- Display preferred_move_in start -->
      <dd><%= preference.preferred_move_in %></dd>
      <!-- Display preferred_move_in end -->

      <dt>Unit type</dt>
      <!-- Display unit_type start -->
      <dd><%= preference.unit_type %></dd>
      <!-- Display unit_type end -->

      <dt>Cleanliness</dt>
      <!-- Display cleanliness start -->
      <dd><%= preference.cleanliness %></dd>
      <!-- Display cleanliness end -->

      <dt>Hosting</dt>
      <!-- Display hosting start -->
      <dd><%= preference.hosting %></dd>
      <!-- Display hosting end -->

      <dt>Neighborhood</dt>
      <!-- Display neighborhood start -->
      <dd><%= preference.neighborhood %></dd>
      <!-- Display neighborhood end -->

      <dt>Notes</dt>
      <!-- Display notes start -->
      <dd><%= preference.notes %></dd>
      <!-- Display notes end -->

      <dt>Pet friendly</dt>
      <!-- Display pet_friendly start -->
      <dd><%= preference.pet_friendly %></dd>
      <!-- Display pet_friendly end -->

      <dt>Roommie gender preference</dt>
      <!-- Display roommie_gender_preference start -->
      <dd><%= preference.roommie_gender_preference %></dd>
      <!-- Display roommie_gender_preference end -->

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back preference, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <!-- Edit link preference start -->
      <div class="col">
        <% if current_user == @preference.user %>
          <%= link_to edit_preference_url(preference), class: "btn btn-block btn-sm btn-outline-secondary" do %>
            <i class="fas fa-edit"></i>
          <% end %>
        <% end %>
      </div>
      <!-- Edit link preference end -->

      <!-- Delete link preference start -->
      <div class="col">
        <% if current_user == @preference.user %>
          <%= link_to preference, method: :delete, data: { confirm: "Do you really want to delete this preference?" }, class: "btn btn-block btn-outline-secondary" do %>
            <i class="fas fa-trash-alt"></i>
          <% end %>
        <% end %>
      </div>
      <!-- Delete link preference end -->
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(preference.updated_at) %> ago
  </div>
</div>
