<%= search_form_for @q, :class => collapse_search_form, :id => "preferences_filters" do |f| %>
  <p class="lead">Narrow results:</p>

  <div class="form-group">
    <%= f.label :pet_friendly_eq, "Pet friendly" %>
    <div>
      <label class="radio-inline">
        <%= f.radio_button :pet_friendly_eq, "1", checked: ((params[:q] && params[:q][:pet_friendly_eq]) == "1" ? "checked" : "") %> Yes
      </label>
      <label class="radio-inline">
        <%= f.radio_button :pet_friendly_eq, "0", checked: ((params[:q] && params[:q][:pet_friendly_eq]) == "0" ? "checked" : "")%> No
      </label>
      <label class="radio-inline">
        <%= f.radio_button :pet_friendly_eq, ""%> Either
      </label>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :notes_cont, "Notes contains" %>
    <%= f.text_field :notes_cont, :class => "form-control", :placeholder => "Notes contains" %>
  </div>

  <div class="form-group">
    <%= f.label :neighborhood_cont, "Neighborhood contains" %>
    <%= f.text_field :neighborhood_cont, :class => "form-control", :placeholder => "Neighborhood contains" %>
  </div>

  <div class="form-group">
    <%= f.label :hosting, "Hosting" %>
    <div class="row">
      <div class='col-md-6 mb-1'>
        <%= f.text_field :hosting_gteq, :class => "form-control", :placeholder => "Hosting greater than or equal to" %>
      </div>
      <div class='col-md-6'>
        <%= f.text_field :hosting_lteq, :class => "form-control", :placeholder => "Hosting less than or equal to" %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :cleanliness, "Cleanliness" %>
    <div class="row">
      <div class='col-md-6 mb-1'>
        <%= f.text_field :cleanliness_gteq, :class => "form-control", :placeholder => "Cleanliness greater than or equal to" %>
      </div>
      <div class='col-md-6'>
        <%= f.text_field :cleanliness_lteq, :class => "form-control", :placeholder => "Cleanliness less than or equal to" %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :preferred_move_in, "Preferred move in" %>
    <div class="row">
      <div class='col-md-6 mb-1'>
        <div class='input-group date' id='preferred_move_ingteqPicker' data-target-input="nearest">
          <%= f.text_field :preferred_move_in_gteq, :class => "form-control datetimepicker-input", :placeholder => "Preferred move in greater than or equal to", :data => {:target => '#preferred_move_ingteqPicker'} %>
          <div class="input-group-append" data-target='#preferred_move_ingteqPicker' data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>

      <div class='col-md-6'>
        <div class='input-group date' id='preferred_move_inlteqPicker' data-target-input="nearest">
          <%= f.text_field :preferred_move_in_lteq, :class => "form-control datetimepicker-input", :placeholder => "Preferred move in less than or equal to", :data => {:target => '#preferred_move_inlteqPicker'} %>
          <div class="input-group-append" data-target='#preferred_move_inlteqPicker' data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
      $(function () {
          $('#preferred_move_ingteqPicker').datetimepicker({
              format: 'MM/DD/YYYY'
          });
          $('#preferred_move_inlteqPicker').datetimepicker({
              useCurrent: false,
              format: 'MM/DD/YYYY'
          });
          $('#preferred_move_ingteqPicker').on("dp.change", function (e) {
              $('#preferred_move_inlteqPicker').data("DateTimePicker").minDate(e.date);
          });
          $('#preferred_move_inlteqPicker').on("dp.change", function (e) {
              $('#preferred_move_ingteqPicker').data("DateTimePicker").maxDate(e.date);
          });
      });
  </script>

  <div class="form-group">
    <%= f.label :budget_max, "Budget max" %>
    <div class="row">
      <div class='col-md-6 mb-1'>
        <%= f.text_field :budget_max_gteq, :class => "form-control", :placeholder => "Budget max greater than or equal to" %>
      </div>
      <div class='col-md-6'>
        <%= f.text_field :budget_max_lteq, :class => "form-control", :placeholder => "Budget max less than or equal to" %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :created_at, "Created at" %>
    <div class="row">
      <div class='col-md-6 mb-1'>
        <div class='input-group date' id='created_atgteqPicker' data-target-input="nearest">
          <%= f.text_field :created_at_gteq, :class => "form-control datetimepicker-input", :placeholder => "Created at greater than or equal to", :data => {:target => '#created_atgteqPicker'} %>
          <div class="input-group-append" data-target='#created_atgteqPicker' data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>

      <div class='col-md-6'>
        <div class='input-group date' id='created_atlteqPicker' data-target-input="nearest">
          <%= f.text_field :created_at_lteq, :class => "form-control datetimepicker-input", :placeholder => "Created at less than or equal to", :data => {:target => '#created_atlteqPicker'} %>
          <div class="input-group-append" data-target='#created_atlteqPicker' data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
      $(function () {
          $('#created_atgteqPicker').datetimepicker({
              format: 'YYYY-MM-DD hh:mm:SS'
          });
          $('#created_atlteqPicker').datetimepicker({
              useCurrent: false,
              format: 'YYYY-MM-DD hh:mm:SS'
          });
          $('#created_atgteqPicker').on("dp.change", function (e) {
              $('#created_atlteqPicker').data("DateTimePicker").minDate(e.date);
          });
          $('#created_atlteqPicker').on("dp.change", function (e) {
              $('#created_atgteqPicker').data("DateTimePicker").maxDate(e.date);
          });
      });
  </script>


  <div class="form-group">
    <%= f.label :user_email_cont, "User email contains" %>
    <%= f.text_field :user_email_cont, :class => "form-control", :placeholder => "User email contains" %>
  </div>

  <div class="form-group">
    <%= f.label :amenities_name_cont, "Amenities name contains" %>
    <%= f.text_field :amenities_name_cont, :class => "form-control", :placeholder => "Amenities name contains" %>
  </div>


  <%= f.submit :class => "btn btn-primary btn-block mb-1" %>

  <a href="/preferences" class="btn btn-outline-secondary btn-block mb-1">Clear filters</a>

<% end %>

<a class="btn btn-outline-secondary btn-block mb-1" data-toggle="collapse" href="#preferences_filters">
  Show filters
</a>
