<%= form_with(model: @amenity_preference, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :amenity_id %>

    <%= f.collection_select :amenity_id, Amenity.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <%= f.hidden_field :preference_id, value: @preference.id %>

  <%= f.submit "Create amenity preference", class: "btn btn-block btn-outline-secondary" %>
<% end %>
