<div class="card mb-3">
  <h2 class="card-header h4">
    Building Amenity #<%= building_amenity.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>Building</dt>
      <dd>
        <% if @building_amenity.building.present? %>
          <%= link_to building_amenity.building, building_amenity.building %>
        <% end %>
      </dd>

      <dt>Amenity</dt>
      <dd>
        <% if @building_amenity.amenity.present? %>
          <%= link_to building_amenity.amenity, building_amenity.amenity %>
        <% end %>
      </dd>

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back building_amenity, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <div class="col">
        <%= link_to edit_building_amenity_url(building_amenity), class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </div>

      <div class="col">
        <%= link_to building_amenity, method: :delete, data: { confirm: "Do you really want to delete this building_amenity?" }, class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(building_amenity.updated_at) %> ago
  </div>
</div>
